<!DOCTYPE html>
<html>
<head>
    <title>Testing sockets ..</title>
</head>
<body>
   {{{ body }}}


   <script src="/socket.io/socket.io.js"></script>
   <script src="/public/js/test-socet.js"></script>
</body>
</html>